$item-size: 24px;
$item-margin: 2px;

#objectives-panel {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    width: ($item-size + $item-margin * 2) * 5 + 2;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    div > .icon,
    div > .checkbox {
        width: $item-size;
        margin: $item-margin;
        text-align: center;
    }
    div > .checkbox {
        padding: 0 3px;
    }
}

.c-red {
    color: red;
}
.c-blue {
    color: blue;
}
.c-yellow {
    color: rgb(241, 241, 35);
}
.c-green {
    color: green;
}
.c-purple {
    color: purple;
}
.empty {
    color: #666 !important;
}
